@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-100: #93c5fd;
  --blue-200: #1e40af;
  --blue-300: #172554;

  --rose-100: ##fda4af;
  --rose-200: ##fb7185;

  --slate-100: #f1f5f9;
  --slate-200: #94a3b8;
  --slate-300: #64748b;
  --slate-400: #475569;
  --slate-500: #334155;
  --slate-600: #1e293b;
  --slate-700: #0f172a;
  --slate-800: #020617;

  --gradient-horizontal: rgb(147,197,253) linear-gradient(95deg, rgba(147,197,253,1) 0%, rgba(253,164,175,1) 55%);
  --gradient-vertical: rgb(147,197,253) linear-gradient(0deg, rgba(147,197,253,1) 0%, rgba(253,164,175,1) 55%);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--slate-100);
  background: var(--slate-800);
  font-family: Arial, Helvetica, sans-serif;
}
  
/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
  
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
